.container {
    box-sizing: border-box;
    transform: translate(0, 30vh);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 30rem;
    box-shadow: 4px 4px 6px #acacac;
    border-radius: 0.3rem;
    background-color: white;
    justify-content: center;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    height: 5rem;
    color: #226FFE;
}

.inputFields {
    text-align: left;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 3vh;
    margin-left: 4.5rem;
    margin-right: 4.5rem;

}

.inputFields span {
    color: red;
    font-size: larger;
}

.inputFields input {
    font-weight: 400;
    height: 2rem;
    width: 100%;
    outline: none;
}

.formButton {
    padding-bottom: 3rem;
}

.formButton button {
    margin-top: 1rem;
    background-color: #226FFE;
    min-width: 70%;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-weight: bold;
}

.inputandicon {
    display: inline-flex;
    width: 100%;
    border: solid 1px #acacac;
    border-radius: 0.3rem;
}

.inputandicon input,
.inputandicon img {
    padding-left: 0.5rem;
}